.tab1 {
  tab-size: 8;
}
.stamp {
  font-family: 'JetBrains Mono', monospace;
}

.log {
  font-weight: 900;
  border-radius: 20px;
  padding: 6px;
  border-color: #000000;
}

.title {
  font-weight: 900;
  font-size: 36px;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

* {
  font-family: 'Barlow', sans-serif;
}

.hdr-bg {
  position: relative;
  font-weight: 900;
  transform: skew(-12deg) translateX(-10%);
  left: 7%;
  bottom: 16px;
  width: 200px;
  height: 32px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: translateY(50%);
}
